    {{#if total}}
    <span class="todo-count">
        <span class="number">{{remaining}}</span>
        <span class="word">{{ifequalsinline remaining 1 messages.item messages.items}}</span>
          {{ifequalsinline remaining 1 messages.left messages.lefts}}.
    </span>
    {{/if}}
    {{#if done}}
    <span class="todo-clear">
        <a id="toto">{{#ifequals done 1}} {{messages.clearitem}} {{else}} {{sprintf messages.clearitems done}} {{/ifequals}}</a>
    </span>
    {{/if}}